<% provide(:title, "Log In") %>

	<div class="heading-logo">
		<i class="fa fa-coffee fa-4x"></i> <span>CoffeeShop</span>
	</div>

	<h3>Discover Coffee Shops In NYC</h3>

	<div class="row">
		<div class="span6 offset3">
			<%= form_tag sessions_path do %>

				<%= text_field_tag :email, params[:email], placeholder: 'Email Address' %>

				<%= password_field_tag :password, nil,placeholder: 'Password' %>

				<%= submit_tag "Log In To CoffeeShop", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
	<div class="bottom-sign-up">
		<p> Not a member? </p>
		<%= link_to "Sign Up Now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
