<% provide(:title, @shop.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<p> Hours: <%= @shop.hours %> </p>
			<p> Phone: <%= @shop.phone %> </p>
			<p> Url: <%= @shop.url %> </p>
			<p> Foursquare_rating: <%= @shop.foursquare_rating %> </p>
			<p> Phone:  <%= @shop.phone %> </p>
			<p> Twitter:  @<%= @shop.twitter %> </p>
		</section>
	</aside>
</div>

<div>
<%= link_to("like", vote_path(@shop), class: 'btn btn-info') %>


</div>

<li>
	<% @photos.each do |photo| %>
		<%= image_tag(photo.url) %>
	<% end %>
		
	<%= @photos.count %>
</li>
