<% provide(:title, @shop.name) %>
<div class="row shop-info">
	<section>
		<h1> <%= @shop.name %></h1>
		<div class="shop-contents">
			<p> 
				<span>Hours:</span> <%= @shop.hours %> 
			</p>
			<p> 
				<span>Phone:</span> <%= @shop.phone %> 
			</p>
			<p> 
				<span>Url:</span> <%= @shop.url %> 
			</p>
			<p> 
				<span>Foursquare Rating:</span> 
				<%= @shop.foursquare_rating %> 
			</p>
			<p> 
				<span>Twitter:</span>  @<%= @shop.twitter %> 
			</p>
			<p> 
				<span>Address:</span> <%= @shop.address %>
			</p>
		</div>
	</section>
	<div class="shop-map">
		<%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x247&sensor=false&zoom=14&markers=#{@shop.latitude}%2C#{@shop.longitude}", class: 'static-map' %>
	</div>
</div>



<div class="like-action">
	<%= link_to("I Like This Coffee Shop", vote_path(@shop), class: 'btn btn-info') %>
</div>

<h2 class="photos-heading"> 
	User-Generated Photos (Via Foursquare) 
</h2>

<ul class="photos">
	<li>
	<% @photos.each do |photo| %>
		<%= image_tag(photo.url) %>
	<% end %>
	</li>
</ul>





