<% provide(:title, 'Sign up') %>
<%= link_to root_path, class: "login-header" do %>
	<div class="heading-logo">
		<i class="fa fa-coffee fa-4x"></i> <span>CoffeeShop</span>
	</div>
<% end %>

<div class="row sign-up">
	<div class="span6 offset3">
		<%= form_for @user, :url => users_path, :html => { :multipart => true } do |f| %>
			<%= render 'fields', f: f %>

			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>


		<% end %>
	</div>
	<div class="bottom-log-in">
		<span> Already on CoffeeShop?</span>
		<%= link_to "Log In", login_path %>
	</div>
</div>
