<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="coffee-logo">
		<%= link_to root_path do %>
			<i class="fa fa-coffee fa-3x"></i>
			<span>CoffeeShop</span>	
		<% end %>
	</div>
	<% if logged_in? %>
		<ul class="nav-links">
			<li><%= link_to "Users", '#' %></li>
			<li>
				<%= link_to "Neighborhoods", neighborhoods_path %>
			</li>
			<li><%= link_to "Coffee Shops", '#' %></li>
			<li id="fat-menu" class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "View Profile", current_user %></li>
					<li><%= link_to "Edit Settings", edit_user_path(current_user) %></li>
					<li>
						<%= link_to "Log Out", logout_path, method: "delete" %>
					</li>
				</ul>
			</li>
		</ul>
	<% else %>	
		<div class="header-right">
			<%= link_to login_path do %>
				<button class="btn btn-primary">	
				<span>Log In</span>
				</button>
			<% end %>
			</div>
	<% end %>
	
</header>
