<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %> </title>
	  <%= include_gon %>
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/iesnippet' %>
	</head>
	<body>
		<div id="wrapper" class="<%= "bg-signup" unless logged_in? %>">
			<div id="header-region">
				<%= render 'layouts/header' %>
			</div>

			<div class="container" id="main-region">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, 
													class: "alert alert-#{key}") %>
				<% end %>
				<%= yield %>
			</div>

			<div id="footer-region">
				<%= render 'layouts/footer' %>
				<%= debug(params) if Rails.env.development? %>
			</div>
		</div>
	</body>
</html>

<%= javascript_tag do %>
	$(function() {
		CoffeeShop.start()
	});
<% end %>